name: CheckVersion
permissions:
  contents: read
  issues: write 
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 6 * * ?'

jobs:
  build:
    name: Check speedtest-rs version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get latest Github release
        uses: rez0n/actions-github-release@main
        id: speedtest_release
        env:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: "nelsonjchen/speedtest-rs"
          type: "stable"
      - name: Show version
        run: |
          echo "${{ steps.speedtest_release.outputs.release }}"
      - name: Get PKG version
        run: |
          echo "PkgVer=v$(cat ./speedtest-rs/PKGBUILD | grep pkgver= | cut -d "=" -f2)" >> $GITHUB_ENV
          echo ${{ env.PkgVer }}

      - name: Create an issue
        uses: actions-ecosystem/action-create-issue@v1
        if: ${{ env.PkgVer != steps.speedtest_release.outputs.release }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          title: Bump version nelsonjchen/speedtest-rs to ${{ steps.speedtest_release.outputs.release }}
          body: |
            Please update nelsonjchen/speedtest-rs to ${{ steps.speedtest_release.outputs.release }}

            